.fe-ctn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px 20px;
  margin-top: 5px;
  gap: 5px;
}

@media (max-width: 850px) {
  .fe-ctn {
    justify-content: center;
  }
}

@media (max-width: 450px) {
  .fe-ctn {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
}

.fe-box {
  width: 190px;
  height: 300px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #c1ccc3;
  border-radius: 4px;
  margin: 15px 0;
}

@media (max-width: 850px) {
  .fe-box {
    margin: 15px 15px;
  }
}

.fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

.fe-box h6 {
  display: inline-block;
  padding: 6px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
  font-size: 20px;
  font-weight: 100;
  margin-top: 12px;
}

.fe-box:nth-child(2) h6 {
  background-color: #cdebbc;
}

.fe-box:nth-child(3) h6 {
  background-color: #d1e8f2;
}

.fe-box:nth-child(4) h6 {
  background-color: #cdd4f6;
}

.fe-box:nth-child(5) h6 {
  background-color: #f6dbf6;
}

.fe-box:nth-child(6) h6 {
  background-color: #fff2e5;
}

.fe-box img {
  width: 100%;
  margin-bottom: 0;
}

.img-ctn {
  width: 160px;
  height: 200px;
}
